.blogs-page {
  position: absolute;
  top: 1150vh;
  width: 100vw;
  height: 120vh;
}
.blogs-title {
  position: absolute;
  top: 5vh;
  left: 36%;
  color: #ee3918;
  font-family: "protiqueBold";
  font-size: 60px;
}
.blog1 {
  position: absolute;
  top: 20vh;
  left: 1vw;
  width: 59vw;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;
}
.blog1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.blog2 {
  position: absolute;
  top: 20vh;
  left: 62vw;
  width: 36vw;
  height: 43vh;
  border-radius: 10px;
  overflow: hidden;
}
.blog2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.blog3 {
  position: absolute;
  top: 66vh;
  left: 62vw;
  width: 36vw;
  height: 43vh;
  border-radius: 10px;
  overflow: hidden;
}
.blog3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.blog-img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.blog-btn1 {
  position: absolute;
  top: 40vh;
  left: 1vw;
  background-color: #ee3918;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}
.blog-text1 {
  position: absolute;
  top: 55vh;
  left: 1vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 40px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1;
  width: 40vw;
}
.blog-date1 {
  position: absolute;
  top: 86vh;
  left: 2vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 16px;
}
.blog-author1 {
  position: absolute;
  top: 86vh;
  left: 22vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 18px;
}
.blog-btn2 {
  position: absolute;
  top: 15vh;
  left: 1vw;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}
.blog-text2 {
  position: absolute;
  top: 22vh;
  left: 1vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 36px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1;
  width: 24vw;
}
.blog-date2 {
  position: absolute;
  top: 32vh;
  left: 30vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 16px;
}
.blog-author2 {
  position: absolute;
  top: 36vh;
  left: 30vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 16px;
}
.blog-btn3 {
  position: absolute;
  top: 15vh;
  left: 1vw;
  background-color: #3bd90a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}
.blog-text3 {
  position: absolute;
  top: 22vh;
  left: 1vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 40px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1;
  width: 24vw;
}
.blog-date3 {
  position: absolute;
  top: 32vh;
  left: 30vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 16px;
}
.blog-author3 {
  position: absolute;
  top: 36vh;
  left: 30vw;
  color: #fff;
  font-family: "protiqueBold";
  font-size: 16px;
}
