.support3-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 930vh;
}

@media (max-width: 768px) {
  .support3-page {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 490vh;
  }
}
