.nearest-gyms-container {
  position: relative;
  height: 140vh;
  width: 100vw;
}
.nearest-gyms-title {
  position: absolute;
  top: 20vh;
  left: 30%;
  font-size: 40px;
  font-weight: 600;
  color: #ee3918;
}
.nearest-gyms-details {
  position: absolute;
  top: 30vh;
  left: 2vw;
  width: 57vw;
  height: 100vh;
  overflow: scroll;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.nearest-gyms-detail {
  width: 52vw;
  height: 30vh;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  padding: 1vh 2vh;
  gap: 2vh;
}
.nearest-gyms-detail:hover {
  background-color: #ea1414;
}
.selected-gym {
  width: 52vw;
  height: 30vh;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  padding: 1vh 2vh;
  gap: 2vh;
  background-color: #ea1414;
}
/*.nearest-gyms-detail-image {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 10vw;
  height: 18vh;
}*/
.gym-img {
  width: 10vw;
  height: 18vh;
  object-fit: cover;
  padding: 0vh 2vh;
}
/*.nearest-gyms-detail-name {
  position: absolute;
  top: 4vh;
  left: 15vw;
  font-size: 20px;
  font-weight: 600;
}
.nearest-gyms-detail-phone {
  position: absolute;
  top: 10vh;
  left: 15vw;
  font-size: 20px;
  font-weight: 600;
}
.nearest-gyms-detail-address {
  position: absolute;
  top: 16vh;
  left: 15vw;
  font-size: 20px;
  font-weight: 600;
}*/
.gyms-map-container {
  position: absolute;
  left: 59vw;
  top: 30vh;
  height: 100vh;
  width: 40vw;
  border: 1px solid white;
}
