.nearest-gyms-container {
  position: relative;
  height: 140vh;
  width: 100vw;
}
.nearest-gyms-title {
  position: absolute;
  top: 20vh;
  left: 30%;
  font-size: 40px;
  font-weight: 600;
  color: #ee3918;
}
.nearest-gyms-details {
  position: absolute;
  top: 30vh;
  left: 2vw;
  width: 57vw;
  height: 100vh;
  overflow: scroll;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.nearest-gyms-detail {
  width: 52vw;
  height: 30vh;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  padding: 1vh 2vh;
  gap: 2vh;
}
.nearest-gyms-detail:hover {
  background-color: #ea1414;
}
.each-gym-details {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 3vh;
}
.selected-gym {
  width: 52vw;
  height: 30vh;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  padding: 1vh 2vh;
  gap: 2vh;
  background-color: #ea1414;
}
.gym-img {
  width: 10vw;
  height: 18vh;
  object-fit: cover;
  padding: 0vh 2vh;
}
.gyms-map-container {
  position: absolute;
  left: 59vw;
  top: 30vh;
  height: 100vh;
  width: 40vw;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .nearest-gyms-container {
    position: relative;
    height: 140vh;
    width: 100vw;
  }
  .nearest-gyms-title {
    position: absolute;
    top: 18vh;
    line-height: 1;
    left: 10%;
    font-size: 40px;
    font-weight: 600;
    color: #ee3918;
  }
  .nearest-gyms-details {
    position: absolute;
    top: 30vh;
    left: 2vw;
    width: 96vw;
    height: 30vh;
    overflow: scroll;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
  }
  .nearest-gyms-detail {
    width: 80vw;
    height: 12vh;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    padding: 0vh 2vh;
    gap: 0vh;
  }
  .nearest-gyms-detail:hover {
    background-color: #ea1414;
  }
  .each-gym-details {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
    font-size: 14px;
    line-height: 1;
  }
  .selected-gym {
    width: 80vw;
    height: 12vh;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    padding: 0vh 2vh;
    gap: 0vh;
    background-color: #ea1414;
  }
  .gym-img {
    width: 10vw;
    height: 8vh;
    object-fit: cover;
    padding: 0vh 2vh;
  }
  .gyms-map-container {
    position: absolute;
    left: 2vw;
    top: 62vh;
    height: 60vh;
    width: 96vw;
    border: 1px solid white;
  }
}
