.plan-support-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 1000vh;
}

@media (max-width: 768px) {
  .plan-support-page {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 610vh;
  }
}
