.About-page {
  width: 100vw;
  height: 150vh;
  position: relative;
  margin: 1px;
  overflow: hidden;
}
.scroll-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.marquee1 {
  font-family: "protiqueBold";
  font-size: 50px;
  padding: 20px;
}
.marquee2 {
  font-family: "protiqueBold";
  font-size: 50px;
  padding: 20px;
  color: #ee3918;
  opacity: 0.4;
}
.about-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  line-height: 0;
  justify-content: center;
  position: absolute;
  top: 130px;
  left: 35%;
  font-family: "protiqueBold";
  font-size: 70px;
  font-weight: bolder;
  color: #ee3918;
  animation: scrolling 3s linear 1s;
}
@keyframes scrolling {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.about-subheading {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 400px;
  font-family: "protiqueBold";
  left: 20%;
  font-size: 18px;
  animation: scrolling-y 2s linear 1s;
}
@keyframes scrolling-y {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%);
  }
}
.align-row-wise {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 620px;
  left: 2%;
}
.box {
  width: 350px;
  height: 150px;
  padding: 5px 20px;
}
.line {
  opacity: 0.6;
  margin: 0px 2px 0px 2px;
  height: 150px;
}
.content {
  line-height: 1;
  color: gray;
}
