.weight-loss-support-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 670vh;
}

@media (max-width: 768px) {
  .weight-loss-support-page {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 395vh;
  }
}
