.home-video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-wrapper {
  position: relative;
  width: auto;
  height: 90vh;
  max-width: 90%;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

.home-video-container-video {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.home-video-container-video iframe {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
