.home-video-container {
  position: absolute;
  top: 260vh;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-wrapper {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: auto;
  height: 90vh;
  max-width: 90%;
}

.home-video-container-video {
  object-fit: fill;
  width: 100% !important;
  height: 100% !important;
}
