.muscle-building-diet-plan-page {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.muscle-building-diet-plan-title {
  position: absolute;
  top: 35vh;
  left: 25vw;
  font-size: 40px;
  font-weight: 600;
  color: #ee3918;
  width: 50vw;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1;
  text-align: center;
}
.muscle-building-diet-plan-subtitle {
  position: absolute;
  top: 50vh;
  left: 22vw;
  font-size: 20px;
  font-weight: 500;
  white-space: normal;
  width: 50%;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.1;
}

.muscle-building-diet-plan-video {
  position: absolute;
  top: 80vh;
  left: 5%;
  width: 90vw;
  height: 95vh;
}
.muscle-building-diet-org-video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.muscle-building-diet-plan-offer {
  position: absolute;
  top: 200vh;
  left: 25%;
  font-family: "protiqueBold";
  font-size: 50px;
  color: #ee3918;
  width: 45vw;
  text-align: center;
  line-height: 1;
  white-space: normal;
  word-wrap: break-word;
}
.muscle-building-diet-plan-offer-img1 {
  position: absolute;
  top: 240vh;
  left: 13vw;
}
.muscle-building-diet-plan-offer-img {
  width: 10vw;
  height: 22vh;
  border-radius: 15px;
}
.muscle-building-diet-plan-offer-img2 {
  position: absolute;
  top: 240vh;
  left: 45vw;
}
.muscle-building-diet-plan-offer-img3 {
  position: absolute;
  top: 240vh;
  left: 75vw;
}
.muscle-building-diet-plan-offer-text1 {
  position: absolute;
  top: 265vh;
  left: 11vw;
  font-family: "protiqueBold";
  font-size: 20px;
}
.muscle-building-diet-plan-offer-text2 {
  position: absolute;
  top: 265vh;
  left: 44vw;
  font-family: "protiqueBold";
  font-size: 20px;
}
.muscle-building-diet-plan-offer-text3 {
  position: absolute;
  top: 265vh;
  left: 75vw;
  font-family: "protiqueBold";
  font-size: 20px;
  width: 15vw;
  line-height: 1;
  white-space: normal;
  word-wrap: break-word;
}
.muscle-building-diet-plan-offer-title2 {
  position: absolute;
  top: 290vh;
  left: 25%;
  font-family: "protiqueBold";
  font-size: 50px;
  color: #ee3918;
  width: 45vw;
  text-align: center;
  line-height: 1;
  white-space: normal;
  word-wrap: break-word;
}
.muscle-building-diet-plan-offer-subtitle2 {
  position: absolute;
  top: 320vh;
  left: 23vw;
  font-size: 20px;
  font-weight: 500;
  white-space: normal;
  width: 50vw;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.1;
}
.muscle-building-diet-plan-offer-goal {
  position: absolute;
  top: 340vh;
  left: 0;
  width: 100vw;
  height: 240vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.muscle-building-diet-plan-offer-goal-matter {
  position: absolute;
  top: 10vh;
  left: 5vw;
  width: 90vw;
  height: 220vh;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.muscle-building-diet-plan-offer-title3 {
  position: absolute;
  top: 590vh;
  left: 40vw;
  font-size: 40px;
  font-weight: 600;
  color: #ee3918;
}
.muscle-building-diet-plan-offer-subtitle3 {
  position: absolute;
  top: 605vh;
  left: 25vw;
  font-size: 20px;
  font-weight: 500;
  white-space: normal;
  width: 55vw;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.2;
}
.muscle-building-diet-plan-offer-7day-img {
  position: absolute;
  top: 620vh;
  left: 2vw;
  width: 30vw;
  height: 85vh;
  background-color: orange;
}
.muscle-building-diet-plan-offer-30day-img {
  position: absolute;
  top: 620vh;
  left: 34vw;
  width: 30vw;
  height: 85vh;
  background-color: orange;
}
.muscle-building-diet-plan-offer-450cal-img {
  position: absolute;
  top: 620vh;
  left: 66vw;
  width: 30vw;
  height: 85vh;
  background-color: orange;
}
.muscle-building-org-bgimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.muscle-building-diet-plan-offer-goal::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.muscle-building-matter {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  line-height: 1.3;
  margin-left: 2vw;
}
.muscle-building-matter-title {
  font-size: 36px;
  color: #ee3918;
  line-height: 1.3;
}
.muscle-building-matter-description {
  width: 60%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.muscle-building-diet-plan-org-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.muscle-building-diet-plan-offer-7day-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.muscle-building-diet-plan-offer-30day-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.muscle-building-diet-plan-offer-450cal-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.muscle-building-img-title {
  position: absolute;
  top: 87%;
  left: 1vw;
  font-size: 36px;
  color: #ee3918;
  font-weight: 600;
  z-index: 1;
}
